<div class="container">

<h1>Edit Existing User</h1>
<hr />

<% if @user.errors.any? %>
<h2>The following errors prevented user creation</h2>
<ul style="margin-bottom: 50px;">
	<% @user.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
</ul>
<% end %>

<%= form_for @user do |f| %>
	<p>
		<%= f.label :firstname %><br />
		<%= f.text_field :firstname %>
	</p>

	<p>
		<%= f.label :lastname %><br />
		<%= f.text_field :lastname %>
	</p>

	<p>
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</p>

	<p>
		<%= f.label :company %><br />
		<%= f.text_field :company %>
	</p>

	<p>
		<%= f.submit %>



<% end %>

</div>