<!--
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Energy Efficiency</h1>
    <p class="lead">Modern &amp; Smart.<br /><span>Today's Efficient Energy Technology Can&nbsp;be&nbsp;Yours.</span></p>
    <%= link_to "Learn More", about_path, class: "tn btn-primary btn-lg dont-underline" %>
  </div>
</div>
</div>
-->
<div class="container-fluid" style="margin-top:-75px; padding-top: 0px !important;">
<div class="row">
	<div class="hp-video">
			<span class="hp-heading">Global Innovation. Local&nbsp;Solutions</span>
		  	<%= video_tag("MinimiseHP.mov", {:controls => false, :autoplay => true, :muted => true, :loop => true, :autobuffer => true, :playsinline => true})  %>
		  	<div class="water-mark"><%= image_tag("Minimise_bulb_green.png") %></div>
	</div>
</div>
</div>

<div class="container">
	<div class="row first-span" style="min-height: 500px;">
		
		<div class="col-md-7">
			<h1>Enery Solutions Made Simple</h1>
			<p>Minimise uses an internationally recognized and standardized protocol (IPMVP) to define and identify baseline usage patterns from which the savings are calculated.</p>
			<p>Minimise identifies technology, and processes to maximize the efficiency and the savings. All the while without any disruption to your normal operation of business.</p>
			<p>Once the strategy is identified, we oversee the implementation process from start to finish. The best technology at ZERO cost and no disruption to your company.</p>
			<p>Minimise monitors & analyzes key consumption Indicators via Smart Meters, which are part of a long term strategy for monitoring, improving and sustaining benefits.</p>
		</div>
		<div class="col-md-5">
			<div class="image-fill">
				<%= image_tag("hp_span1_img2.png") %>
			</div>
		</div>
	</div>

</div>

<div class="container-fluid">
	<div class="row second-span">
		<div class="col-md-12 hp-left-box">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 prepaid-logo"><%= image_tag("PrePaidSavings.png") %></div>
					<div class="col-lg-8"><p style="margin-top: 20px; margin-bottom: 30px;" class="centerSooner">Minimise is the only Energy Services and Management Company known to prepay savings to its clients. Yes, this means savings paid the moment a phase or project is completed.</p></div>
				</div>
				
				<hr style="border-color:#999999; margin-top: 25px; margin-bottom: 35px; opacity: .5;"/>
				
				<div class="row">
					<div class="col-md-8 offset-md-1">
					<h4 class="getCentered">Predict Your Savings NOW </h4>
					</div>
					<div class="col-md-3 getCentered">
						<%= link_to "Learn More", "https://www.florida-districts.com", class: "btn btn-primary btn-lg dont-underline", target: "_blank" %>
					</div>
				</div>
			</div>
		</div>
	
		<!--
		<div class="col-md-6 hp-right-box">
			<h2>Who is Minimise?</h2>
			<p>At MINIMISE our expertise span the spectrum of entrepreneurship from the worlds of sustainability, alternative energy, retail construction, project management, structured finance and sales.</p>
			<p style="margin-bottom: 30px;">All of our services are provided for FREE as part of structured Shared Savings Plan. With MINIMISE, everyone wins!</p>
			<%= link_to "Meet the Team", who_path, class: "tn btn-primary btn-lg dont-underline" %>
		</div>
		-->
	</div>
</div>

<div class="container third-span">
	<h4 align="center" style="margin-bottom: 35px; color:#787878;">Partnering For You</h4>
	<div class="row">
		<div class="col-sm-3"><%= image_tag("partner-BEST.png") %></div>
		<div class="col-sm-3"><%= image_tag("partner-ensight.jpg") %></div>
		<div class="col-sm-3"><%= image_tag("partner-GC.png") %></div>
		<div class="col-sm-3"><%= image_tag("partner-skanska.png") %></div>
	</div>
	<div class="row">
		<div class="col-sm-4"><%= image_tag("partner-iot.nxt.jpg") %></div>
		<div class="col-sm-4"><%= image_tag("partner-atg.png") %></div>
		<div class="col-sm-4"><%= image_tag("partner-TCP.jpg") %></div>
	</div>
	
</div>
