<div class="container">


<h1>Minimise Energy Manager by Dexcell</h1>
<hr />


<h3>Top Ways in which Minimise Energy Manager Powered by Dexcell  Puts Your Company in Control</h3>

<h2>Even though energy costs tend to impact a firm’s profitability, many companies don’t do enough to control them​​​​​​​​​​​​​​​​​​​​​​​​​​​​​</h2>

<div class="page-image"><%= image_tag("a7f927811070b1e6c99f0c85deac25cb.png") %></div>


<p>One reason businesses look the other way may be that energy management seems like a complex process. Another cause for this could be the fact that utility companies have large bargaining power in this sector. For this, firms may consider trying to exert control over this costs pointless.</p>

<p>Even if it might not seem like it, if your company is the one contracting the energy load needed, you are in control. You just might not be using the right mechanism to visualize your energy usage and detect savings opportunities.</p>

<div class="page-image"><%= image_tag("d17632a55b69a81a337936cb94ce748f.png") %></div>


<p>You can’t manage what you don’t measure. Utility bills are not enough to recognize patterns and improve current practices. To be able to do this, you need a  much more advanced, yet easy to understand, monitoring tool.</p>

<p>The following are 9 ways Minimise Energy Manager powered by Dexcell serves as a map to view your current usage position and trace your route to savings. The following sections will give you an insight into the key features this software offers.</p>


<h2>1. Customize Dashboards and share them with other users.</h2>

<div class="page-image"><%= image_tag("06643b4903279170e766c69869f46126.png") %></div>


<p>Some external factors such as weather, daylight hours, and occupancy affect electrical consumption.</p>

<p>To enable  fair comparisons between facilities, Minimise Energy Manager by Dexcell allows you to normalize parameters. You’ll be able to understand the causes affecting your consumption with the “Ratios” fast and intuitive tool. You may enter as many ratios as you consider relevant to your business.</p>


<h2>2. Compare different facilities by normalizing variables that affect consumption.</h2>

<div class="page-image"><%= image_tag("b794ce9476b4af2f4ed28a183abe6d4b.png") %></div>


<h2>3. Get a clear view of your energy consumption evolution over time and identify patterns.</h2>


<div class="page-image"><%= image_tag("68aef21d6a7826ab5a650912e28686cb.png") %></div>

<div class="page-image"><%= image_tag("aac49467b5a69c14de7b796e93461447.png") %></div>


<p>Check the results of the improvements made by taking a look at the evolution screen. With this functionality, you will be able to see the evolution of your facilities’ consumption over time. You can compare up to 4 different time periods by days, months or years.</p>


<h2>4. Better track and manage projects with the Comments feature.</h2>

<p>You can publish comments of any kind, from load changes to energy saving actions taken in your projects. Comments appear as an icon in the graphics describing the improvements applied at a specific moment. This allows a detailed follow-up of the undertaken measures, essential for a more accurate analysis of the results.</p>


<div class="page-image"><%= image_tag("582345e3ba381e06913a03b50009ff0b.png") %></div>


<p>In the Cost Screen, you will be able to see how much money your company is spending according to the particular contracted tariff.</p>

<p>You will see penalties for peak hours as well as your company’s passive consumption. Quantify your energy savings to understand how efficiency measures benefit your company’s performance.Type your paragraph here.</p>


<h2>5. Visualize your passive consumption and detect inefficiencies.</h2>

<div class="page-image"><%= image_tag("1787229158d3f5dfbf984f0a2cc399aa.png") %></div>

<p>Passive consumption is the energy consumed during non-productive hours, like night time. It can also be the energy consumed throughout the day due to passive loads. Minimise Energy Manager offers charts with your active and passive consumption and their costs. By viewing these charts, inefficiencies will be detected and corrective measures can therefore be taken.</p>


<h2>6. Measure and Verify your achieved savings.</h2>

<div class="page-image"><%= image_tag("4dd17d4e8d042ff8328b096a56c9cc52.png") %></div>


<p>To measure and verify your achieved savings, set your  theoretical consumption to serve as a reference. This theoretical consumption, also called baseline, reflects a company’s complete operating cycle. The graphic will show the baseline reference consumption and your company’s actual consumption.</p>

<p>With it you can set up your saving goals and track the results throughout the whole program.</p>


<h2>7. Receive Alerts in real time </h2>

<div class="page-image"><%= image_tag("669fd757528cd9105cd6d4a7ba5b632d.png") %></div>


<p>The moment inconsistencies show up and greatly reduce downtime.  The system allows the setting up of the system to work for you by carefully monitoring variables and alert you the instant there is an inconsistency. This is a simple to configure feature that will catch common problems such as excesses or reactive penalties. With Alerts, the ability to react immediately to malfunctioning systems and failures and reduce downtimes.</p>

<h2>8. Easy to understand Reports throughout your projects’ life cycle.</h2>

<div class="page-image"><%= image_tag("91530e0d77f2d130245e7a3b10636251.png") %></div>


<p>Track different indicators throughout a project lifecycle and deliver the information you gather in a convenient format. Distribute these reports to the energy manager, facility manager or the finance director. You can customize them to be simple or more advanced and automate their generation to a specific day of the month.</p>

<p>There is a wide range of approaches for these reports. You can simulate electric utility bills to compare yours with those of the distributor. Generate reports that show costs accrued by first of the month or analyze HVAC in detail, and much more.Type your paragraph here.</p>



</div>