<div class="container" style="padding-bottom: 100px;">

<h1 class="heading">Learn More</h1>
<hr />

<div class="card-deck">
	
	<div class="row">
		<div class="card bg-light text-center col-md-6">
		  <span class="card-img-top"><%= image_tag("icon-glossary.png") %></span>
		  <div class="card-body">
		    <h5 class="card-title">Glossary/Terms</h5>
		    <p class="card-text">To gain a better grasp of Minmise and what we do, please see a list of the terms that are commonly used.</p>
		  </div>
		  <div class="btn" style="margin-bottom: 25px;"><%= link_to 'Learn More »', more_path, class: "btn btn-primary" %></div>
		</div>
		<div class="card bg-light text-center col-md-6">
		  <span class="card-img-top"><%= image_tag("icon-faq.png") %></span>
		  <div class="card-body">
		    <h5 class="card-title">Frequently Asked Questions</h5>
		    <p class="card-text">Listening to our client's questions enabled up to compile a great list. Not finding your answer? <%= link_to "Contact Us", contact_path %>.</p>
		  </div>
		  <div class="btn" style="margin-bottom: 25px;"><%= link_to 'Learn More »', more_path, class: "btn btn-primary" %></div>
		</div>
	</div>

	<div class="row">
		<div class="card bg-light text-center col-md-6">
		  <span class="card-img-top"><%= image_tag("icon-giving.png") %></span>
		  <div class="card-body">
		    <h5 class="card-title">Giving</h5>
		    <p class="card-text">Never before has a company been so focused on giving back as a core value from the time of its inception. Driven by not only the nature of the business; Saving money and Conserving energy but also by the example set by our CEO's commitment to community outreach.</p>
		  </div>
		  <div class="btn" style="margin-bottom: 25px;"><%= link_to 'Learn More »', more_path, class: "btn btn-primary" %></div>
		</div>
		<div class="card bg-light text-center col-md-6">
		  <span class="card-img-top"><%= image_tag("icon-industry.png") %></span>
		  <div class="card-body">
		    <h5 class="card-title">Industry Focus</h5>
		    <p class="card-text">The beauty about the Minimise USA Shared Savings Program (SSP) is that it is a simple solution. Minimise USA has ambitions to expose its Shared Savings Program (SSP) to most all institutional sectors. Minimise has embarked on a pre-rollout campaign to perfom “pilot” SSPs.</p>
		  </div>
		  <div class="btn" style="margin-bottom: 25px;"><%= link_to 'Learn More »', more_path, class: "btn btn-primary" %></div>
		</div>
	</div>

</div>





</div>