<div class="container" style="padding-bottom:100px;">

<h1>Meet the Partners</h1>
<hr />


<div class="card">
  	<div class="row no-gutters">
            <div class="col-auto">
    			<%= image_tag "coming-soon.jpg", class: 'card-img-left', style: "width:200px; display:none;" %>
    		</div>
			<div class="col">
			    <div class="card-body">
			      <div class="row">
				      <div class="col-md-9">
					      <h5 class="card-title" style="margin-bottom: 0;">Francis Barram</h5>
					      <h3>Ensight</h3>
					  </div>
					  <div class="col-md-3 partner-logo">
					  	<%= image_tag "partner-ensight.jpg" %>
					  </div>
				  </div>
			      <hr />
			      <p class="card-text">Francis is an Australian and South African awarded energy management thought leader, author and designer. Francis as CEO of Ensight has created the Energy Leadership Program delivered to Rio Tinto, 400MW Richards Bay Minerals titanium.</p>
			      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
			    </div>
			</div>
			<div class="card-footer">
				<ul class="nav partner-nav">
				  <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle ensight-bio" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" style="border-top:none;">Company Bio</a>
			        <div class="partner-sub-menu ensight-bio-text" aria-labelledby="navbarDropdown">
			        	<p>Ensight is an energy management design, implementation company that enters into long term partnerships to sustain energy cost savings for large corporations. Through its enterprise Energy Analyzer design software and its Energy Leadership Program Ensight has a platform to work with large corporates to achieve 20%+ energy cost savings profitably whilst supporting tight cash flows and challenging operating environments, Ensight delivers holistic energy design solutions with focused M&V saving with no-capital investment. Energy projects requiring capital are taken off balance sheet to leverage savings from the opportunity for projects that would normally stay undeveloped.</p>
			        </div>
			      </li>

			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle ensight-partnership" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Partnership with Minimise</a>
			        <div class="partner-sub-menu ensight-partnership-text" aria-labelledby="navbarDropdown">
			        	<p>Ensight provides Minimise USA with its energy design and financial strategy and M&V services in all the four solutions delivered at Hillsborough County Public Schools. From the design of the solution sets within each solution, to the creation of the digital platform and energy management digital modules that exploit the power of the Iot.Nxt Commander, Raptor and Ensicope technologies and software on legacy BMSs. Working at risk in the early stages of the project, Ensight ate its own dog food to support the creation of a successful project with Minimise USA.</p>
			        </div>
			      </li>

			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle ensight-future" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Future as a Minimise Partner</a>
			        <div class="partner-sub-menu ensight-future-text" aria-labelledby="navbarDropdown">
			        	<p>Ensight's vision of reducing global greenhouse gas emissions by 100MT by 2032 will be accelerated through its partnership with Minimise USA. The digital energy management platform can be rolled out globally to transform energy use in the commercial and industrial sectors. The roll out exploits a weakness of the existing legacy BMS companies, in that they make money on rip and replace and Minimise USA makes money on minimise investment requirements and applying intelligence to basically dumb systems. This approach will allow mass replication and roll out of solution sets saving in the order of 25% in the commercial and industrial sectors.</p>
			        </div>
			      </li>

				</ul>
		    	
			</div>
  	</div>
 </div>

<br /><br />
<a id="best"></a>
<div class="card">
  	<div class="row no-gutters">
            <div class="col-auto">
    			<%= image_tag "coming-soon.jpg", class: 'card-img-left', style: "width:200px; display:none;" %>
    		</div>
			<div class="col">
				<div class="card-body">
			    	<div class="row">
			    		<div class="col-md-9">
					      <h5 class="card-title" style="margin-bottom: 0;">Troy Wrigley</h5>
					      <h3>BEST</h3>
					  	</div>
					  	<div class="col-md-3 partner-logo">
					  		<%= image_tag "partner-BEST.png" %>
					  	</div>
					  </div>
					  <hr />
					  <p class="card-text">Francis is an Australian and South African awarded energy management thought leader, author and designer. Francis as CEO of Ensight has created the Energy Leadership Program delivered to Rio Tinto, 400MW Richards Bay Minerals titanium.</p>
				</div>
				<div class="card-footer">
			      <ul class="nav partner-nav">
				  <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle best-bio" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" style="border-top:none;">Company Bio</a>
			        <div class="partner-sub-menu best-bio-text" aria-labelledby="navbarDropdown">
			        	<p>In 2006 Troy founded BEST, along with three co-founders, and took on the role of Marketing Director. Troy was primarily responsible for creating the company’s new, transparent approach to energy management, which centered on the philosophy ‘you can’t manage, what you can’t measure’. In the process Troy secured a variety of technology partnerships to deliver a unique portfolio of energy saving solutions, which were successfully deployed in over 50 countries around the world. Clients included Coca-Cola, Crowne Plaza, DHL, FedEx, Ford, Harley Davidson, McDonalds, Sony & Subway.</p>
			        </div>
			      </li>

			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle best-partnership" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Partnership with Minimise</a>
			        <div class="partner-sub-menu best-partnership-text" aria-labelledby="navbarDropdown">
			        	<p>BEST’s partnership with Minimise is unique and is founded on a simple, old-fashioned but actually timeless principle; trust. Inspired by Minimise’s revolutionary business model and its visionary leader, Daniel Badran, BEST took a leap of faith and followed Minimise into unknown waters. That faith was rewarded in the shape of Hillsborough County Public Schools (HCPS), one of, if not the, most advanced energy saving projects BEST has ever engaged with. BEST technologies are now the foundation of that project, providing the essential energy information tools that Minimise needs to deliver on its promises to HCPS to save energy, verify project performance, reduce maintenance costs and engage with staff and students.</p>
			        </div>
			      </li>

			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle best-future" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Future as a Minimise Partner</a>
			        <div class="partner-sub-menu best-future-text" aria-labelledby="navbarDropdown">
			        	<p>BEST’s mission is to become the world leader in the delivery of real-time energy management and control technologies for multi-site operators. Partnering with Minimise makes that mission eminently more achievable. What’s more, the partnership is already uncovering new, innovative ways to save energy, which is driving BEST to design and develop new, innovative technologies to maximise on these opportunities. The energy efficiency industry is ripe for disruption and the Minimise/BEST partnership, augmented by Minimise’s other extraordinary partners, is perfectly placed to spearhead the revolution.</p>
			        </div>
			      </li>

				</ul>
			      
			</div>
	  	</div>
	 </div>
</div>

<br /><br />
<a id="cloud"></a>
<div class="card">
  	<div class="row no-gutters">
            <div class="col-auto">
    			<%= image_tag "coming-soon.jpg", class: 'card-img-left', style: "width:200px; display:none;" %>
    		</div>
			<div class="col">
				<div class="card-body">
			    	<div class="row">
			    		<div class="col-md-9">
					      <h5 class="card-title" style="margin-bottom: 0;">Roberto Flores</h5>
					      <h3>EnergyCloud</h3>
					  	</div>
					  	<div class="col-md-3 partner-logo">
					  		<%= image_tag "energy-cloud-2.png" %>
					  	</div>
					  </div>
					  <hr />
					  <p class="card-text">Roberto is a pioneer in behavioral change management for energy efficiency programs for our corporate clients. Combining the use of IoT, design thinking and user engagement dashboards we transform our clients cultures to become more energy conscious, efficient, sustainable and ultimately more profitable. He is the Co-Founder and CEO of EnergyCloud, a company who is responsible for consulting and designing complex energy monitoring and saving projects across Latin America whose signature project is the Lima Airport. Roberto’s main driver is to deliver sustainable savings projects by incorporating or upgrading existing metering infrastructure and use this data to transform corporate cultures therefor creating or enhancing existing energy management programs with the expertise and best practices to deliver and maintain or exceed energy saving targets. EnergyCloud currently consults for projects alongside IBM, Indra, and other IT companies.</p>
				</div>
				<div class="card-footer">
			      <ul class="nav partner-nav">
				  <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle cloud-bio" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" style="border-top:none;">Company Bio</a>
			        <div class="partner-sub-menu cloud-bio-text" aria-labelledby="navbarDropdown">
			        	<p>EnergyCloud is a solution design consulting firm specializing in designing, prototyping, implementing and managing complex IT projects for corporate clients. EnergyCloud specializes in extracting data insights from projects that integrate IoT & remote sensors by the use of complex cloud based analytics to simplify the decision making process for our clients. EnergyCloud has worked along side IBM TSS across Latin America to create, implement and enhance their energy management services for their clients.</p>
			        </div>
			      </li>

			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle cloud-partnership" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Partnership with Minimise</a>
			        <div class="partner-sub-menu cloud-partnership-text" aria-labelledby="navbarDropdown">
			        	<p>EnergyCloud provides Minimise USA its experience in handling massive amounts of data and translating the data into actionable information for clients to take action, engage with their employees and customers with information that is easy to relate to in order to create energy consciousness. EnergyCloud’s experience in creating standardized solution design for IT companies will allow Minimise to replicate its own success across all industries with packaged solutions & data models.</p>
			        </div>
			      </li>

			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle cloud-future" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Future as a Minimise Partner</a>
			        <div class="partner-sub-menu cloud-future-text" aria-labelledby="navbarDropdown">
			        	<p>EnergyCloud’s vision is create a more conscious society when it comes to energy efficiency and partnering with Minimise, allows EnergyCloud to work with future generations of prosumers to help save the environment across the globe. The data collection and tagging will allow the creation of more intuitive, engaging and powerful insight analytics to help transform the energy landscape.</p>
			        </div>
			      </li>

				</ul>
			      
			</div>
	  	</div>
	 </div>
</div>


</div>

<script type="text/javascript">
	
		$(".ensight-bio").on("click", function(){
			$('.ensight-bio-text').toggle(350); 
		});
		$(".ensight-partnership").on("click", function(){
			$('.ensight-partnership-text').toggle(350); 
		});
		$(".ensight-future").on("click", function(){
			$('.ensight-future-text').toggle(350); 
		});

		$(".best-bio").on("click", function(){
			$('.best-bio-text').toggle(350); 
		});
		$(".best-partnership").on("click", function(){
			$('.best-partnership-text').toggle(350); 
		});
		$(".best-future").on("click", function(){
			$('.best-future-text').toggle(350); 
		});

		$(".cloud-bio").on("click", function(){
			$('.cloud-bio-text').toggle(350); 
		});
		$(".cloud-partnership").on("click", function(){
			$('.cloud-partnership-text').toggle(350); 
		});
		$(".cloud-future").on("click", function(){
			$('.cloud-future-text').toggle(350); 
		});
	
</script>