<div class="container" style="padding-bottom: 120px;">


<h1>Shared Savings Program (SSP)</h1>

<hr />


<br /><br />
<div class="row">
	<div class="col-md-7">

		<p>Many organizations, public and private, are under budgetary pressure to take full advantage of energy efficient technologies that can deliver significant energy and maintenance cost savings. However, due to these very same budgetary limitations, these projects get delayed, postponed or never done.</p>
		<br />
		<h3>Enter Minimise USA Shared Savings Program (SSP)</h3>

		<p>At zero cost, Minimise USA conducts a comprehensive energy survey and performs a complete energy conversion installing and utilizing a variety of Energy Efficiency Measures (EEMs) that include: </p>

	</div>

	
	<div class="col-md-4 offset-md-1">
		<div class="image-fill" style="max-width: 300px; margin:auto;">
			<%= image_tag("ssp-logo.png") %>
		</div>
	</div>
</div>
<br />
<div class="row">
	<div class="col-md-12">

		
		<h4><%= link_to "Power Factor Optimization (PFO)", asset_path("mc60405.pdf"), target: "_blank", style: "text-decoration:underline; color:inherit;" %></h4>
			
		<p>Non invasive technology that optimizes the power factor, to unity, on all inductive motors, that when measured correctly by Minimise USA’s certified engineers, can produce significant savings, with no loss of performance while reducing energy costs and the wear and tear on those inductive motors.</p>

	
		<div class="page-image"><%= image_tag("9cbb045c776ddaf618b1722a8732710c.png") %></div>

		
		<h4><%= link_to "Minimise Energy Manager Powered by Dexcell", memdexcell_path, style: "text-decoration:underline; color:inherit;" %></h4>


		<p>At Minimise USA, we believe the self evident truth that, “you cannot manage what you do not measure”.  From a remote dashboard using Minimise Energy Manager, a client will be able to monitor, measure, quantify, and analyze all energy usage within the organization that is measurable, from the global consumption down to the meter level in real time. Minimise USA has ample evidence to document that correctly and thoroughly monitoring energy usage results in significant savings.  This is why this is a MUST in our SSP!</p>


		<div class="page-image"><%= image_tag("b86f59018bb95ecf2c9c98185942fa63.png") %></div>

		<h4>Analyze Baseline Consumption vs Actual Consumption</h4>

		
		<div class="page-image"><%= image_tag("aac49467b5a69c14de7b796e93461447.png") %></div>

		
		<h4><%= link_to "Solid State Lighting (SSL)", asset_path("DOE_SSL_projections.pdf"), target: "_blank", style: "text-decoration:underline; color:inherit;" %></h4>


		<p>We install the highest quality, most energy efficient, cooler burning, longer lasting and latest generation of lighting, which is largely made in the USA.</p>

		<p>Other Energy Efficiency Measures: Based on our SSP value proposition, Minimise USA will deploy endless other innovative measures, as they pertain to a specific project, in order to maximize savings; a true win-win for the client and Minimise USA.</p>

		
		<div class="page-image"><%= image_tag("EfficiencyInLumens_Chart.png") %></div>


		<h2>How it Works</h2>
		<p>There is no cost to this program.  Payments will be made out of the savings generated from the EEMs we install.  Minimise USA and the client company share the savings for a 5 year period. During that time, Minimise USA performs 100% of the installation, service and maintenance. The client keeps the Federal and State tax incentives. Your only obligation is to share the savings with Minimise USA, period.  It is the savings shared with Minimise USA, and ONLY the savings that pay for the EEMs.  Since the savings pay for everything, there is no cost! Our clients would benefit immediately from the latest energy efficiency technologies and reduced energy costs, in exchange for sharing the savings.</p>

		<h4>Service and Maintenance</h4>
		<p>Minimise USA service and maintenance agreement will eliminate related maintenance expenses during the initial 5 years. The client company has the option of extending the service agreement, which is designed to stay current with evolving energy efficiency technologies.</p>

		<ol>
		<li>Quantify and reduce greenhouse gas emissions (Carbon Footprint)</li>
		<li>Our Value Proposition….No Cost ….. It’s all PAID from energy savings!...It’s FREE</li>
		<li>Nationwide survey, installation, maintenance, and service teams</li>
		<li>Five years service and maintenance is included.</li>
		</ol>
																					



	</div>
</div>




</div>