<div class="container">


<div class="row ">
<div class="col-md-8">
<h1>HCPS Locations</h1>
  </div>
  <div class="col-md-4" align="right">
    <% if current_user.admin? %>
      <%= link_to "Add New Location", new_location_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<hr />
<br />

<% if @locations.count > 10 %>
<div class="row">
  <div class="col-md-12">
    <div class="paginate">
      <%= will_paginate(@locations, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center') %>
    </div>
  </div>  
</div>
<% end %>
    
    <div class="row" style="margin-bottom: 10px; font-weight: bold;">
        <div class="col-md-3">Location Name</div>
        <div class="col-md-6">Location Address</div>
        
      </div>

    <% @locations.each do |location| %>
    
      <div class="well location-sum">
         <% if location.orders.any? %>
            <% @oos = location.orders.where(completed: false) %>
            <% if @oos.any? %>
              <div class="order-number"><span><%= @oos.count %></span></div>
            <% end %>
         <% end %>
         <div class="row">
          <div class="col-md-3" style="text-decoration:underline;"><%= link_to "#{location.name} #{location.sc_type}", location_path(location), style: "color:inherit;" %></div>
          <div class="col-md-6"><%= location.address %></div>
          <% if current_user.admin? %>
            <div class="col-md-1"><%= link_to 'Show', location %></div>
            <div class="col-md-1"><%= link_to 'Edit', edit_location_path(location) %></div>
            <div class="col-md-1"><%= link_to 'Delete', location, method: :delete, data: { confirm: 'Are you sure you want to delete this location?' } %></div>
          <% else %>
            <div class="col-md-1"></div>
            <div class="col-md-1"><%= link_to 'Show', location %></div>
            <div class="col-md-1"><%= link_to 'Edit', edit_location_path(location) %></div>
          <% end %>
        </div>
      </div>

    <% end %>


<br /><br />

<div class="paginate">
  <%= will_paginate(@locations, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center') %>
</div>
  


</div>