<div class="container" style="padding-bottom: 100px;">
<div align="center">
<p>
  <strong>Scl Reference Number:</strong>
  <%= formatted_number(@location.scl_ref) %>
</p>

<p>
  <strong>School Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>School Type:</strong>
  <%= @location.sc_type %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Area:</strong>
  <%= @location.area %>
</p>

<%= link_to 'Edit Location', edit_location_path(@location), class: "badge badge-secondary" %> |
<%= link_to 'View All Locations', locations_path, class: "badge badge-secondary" %>

</div>
<br /><br />
<hr />
<br />

<% if @openorders.any? %>
<h4>Open Maintenance Requests</h4><br />
  <%= render 'orders/order', obj: @openorders %>
<% else %>
<h4>Open Maintenance Requests</h4>
<p>&nbsp;&nbsp;There are no current pending Maintenance requests</p>
<% end %>
<br />
<hr />
<br />
<% if @orders.any? %>
<h4>Closed Maintenance Requests</h4><br />
  <%= render 'orders/order', obj: @closedorders %>
<% end %>
</div>