<div class="container">

<p>
  <strong>Scl ref:</strong>
  <%= @location.scl_ref %>
</p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @location.sc_type %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Area:</strong>
  <%= @location.area %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>


</div>