<div class="top-top-nav">
  <ul class="nav justify-content-end">
  <li class="nav-item">
    <a href="tel:8888411840" class="nav-link" style="font-weight: bold;">1-888-841-1840</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">|</a>
  </li>
  <% if logged_in? %>
  <li class="nav-item">
    <%= link_to "logout", logout_path, method: :delete, class: 'nav-link' %>
  </li>
  <% else %>
  <li class="nav-item">
    <%= link_to "Login", login_path, class: "nav-link" %>
  </li>
  <% end %>
  <li class="nav-item">
    <a class="nav-link">&nbsp;</a>
  </li>
  
  
</ul>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="main-logo">
    <%= link_to image_tag("minimise-logo-300x111.png"), root_path %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Options
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Case Studies", cases_path, class: "dropdown-item" %>
          <%= link_to "Maintenance", maintenance_path, class: "dropdown-item" %>
          <%= link_to "Savings Calculator", "https://www.florida-districts.com", target: "_blank", class: "dropdown-item" %>
        </div>
      </li>
      

      
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
  <div class="cta">
    <h4>Energy Solutions Made Simple&nbsp;&nbsp;&nbsp;<br />888-841-1840&nbsp;&nbsp;&nbsp;</h4>
  </div>
</nav>