<!DOCTYPE html>
<html>
  <head>
    <title>Minimise | Energy Cost Reduction Made Simple</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=.75, user-scalable=yes, minimum-scale=0.0, maximum-scale=5.0" />
  </head>

  <body>
	<div class="main-nav">
  <%= render 'layouts/navbar' %>
  </div>
  <%= render 'layouts/messages' %>
  	 <div style="min-height: 800px; padding-top: 75px;">
    	 <%= yield %>
	   </div>
     <%= render 'layouts/footer' %>
  </body>
</html>
